@import 'shared/mixins.css.less';
.main#new_channel,
.main#edit_channel {
  form.channel_form {
    .invalid_url {
      display: none;
      text-align: right;
      color: @font_color_error;
      &.show {
        display: block;
      }
    }
    .ac_ust_submit {
      margin-top: 2px;
      padding: 2px 6px;
    }
    ul.check_buttons {
      display: none;
    }
    p.buttons_label {
      border-bottom: 1px solid @border_color;
    }
    .buttons-container {
      .button_wrap {
        .click_target {
          background-color: rgba(0,0,0,0.5);
          &.selected {
            background-color: transparent;
          }
        }
      }
    }
  }
}
