.main {
  border-right: 1px solid rgb(180,160,150);
  h1 {
    margin-top: 0;
    text-shadow: 1px 1px 1px #fff;
  }
  #buttons {
    .button {
      width: 31%;
      margin: 0 2% 10px 0;
    }
  }
}
