@import 'variables.css.less';
@import 'mixins.css.less';
.main.show-channel {
  #buttons {
    .button_wrap {
      width: 31%;
      margin: 0 2% 10px 0;
      float: left;
      position: relative;
      .button_label {
        position: absolute;
        top: 0;
        left: 0;
        margin: 20px 0 0 16px;
        font-size: 30px;
        color: #fff;
        font-weight: bold;
      }
    }
    .button {
      //width: 31%;
      //margin: 0 2% 10px 0;
    }
  }
  #owner-actions {
    max-width: 480px;
    padding-top: 10px;
    border-top: 1px solid @border_color;
    p {
      margin: 0;
    }
    .actions {
      .clearfix();
      list-style: none;
      li {
        float: left;
        margin-right: 10px;
      }
    }
  }
}
