@import 'mixins.css.less';
.buttons-container {
  .clearfix();
  margin-left: -12px;
  .button_wrap {
    width: 150px;
    height: 98px;
    margin: 0 0 10px 12px;
    float: left;
    position: relative;
    background-position: center;
    background-size: cover;
    .button_label {
      position: absolute;
      top: 0;
      left: 0;
      margin: 20px 0 0 16px;
      font-size: 30px;
      color: #fff;
      font-weight: bold;
      &:hover {
        text-decoration: none;
      }
      &.clicked {
        animation-duration: 165ms;
        animation-name: animation01;
        animation-timing-function: linear;
        animation-direction: normal;
        animation-delay: 0s;

        -webkit-animation-duration: 165ms;
        -webkit-animation-name: animation01;
        -webkit-animation-timing-function: linear;
        -webkit-animation-direction: normal;
        -webkit-animation-delay: 0s;
      }
    }
    .click_target {
      height: 100%;
      width: 100%;
      display: block;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      .radiated-border(7px);
    }
    &.hee {
      background-image: asset-url('button_hee.png');
      &.clicked {
        background-image: asset-url('button_hee_click.png');
      }
    }
    &.iine {
      background-image: asset-url('button_iine.png');
      &.clicked {
        background-image: asset-url('button_iine_click.png');
      }
    }
    &.ee {
      background-image: asset-url('button_ee.png');
      &.clicked {
        background-image: asset-url('button_ee_click.png');
      }
    }
    &.majide {
      background-image: asset-url('button_majide.png');
      &.clicked {
        background-image: asset-url('button_majide_click.png');
      }
    }
    &.warai {
      background-image: asset-url('button_warai.png');
      &.clicked {
        background-image: asset-url('button_warai_click.png');
      }
    }
    &.hai {
      background-image: asset-url('button_hai.png');
      &.clicked {
        background-image: asset-url('button_hai_click.png');
      }
    }
  }
  @media (max-width: @viewport_mobile_max) {
    .button_wrap {
      width: 134px;
      height: 86px;
    }
  }
}

@keyframes animation01 {
  from {
    transform: scale(1.0);
    opacity: 1.0;
  }
  to {
    transform: scale(2.5);
    opacity: 0.0;
  }
}

@-webkit-keyframes animation01 {
  from {
    -webkit-transform: scale(1.0);
    opacity: 1.0;
  }
  to {
    -webkit-transform: scale(2.5);
    opacity: 0.0;
  }
}
