@import 'mixins.css.less';
.buttons-container {
  .clearfix();
  .button_wrap {
    width: 31%;
    margin: 0 2% 10px 0;
    float: left;
    position: relative;
    .button_label {
      position: absolute;
      top: 0;
      left: 0;
      margin: 20px 0 0 16px;
      font-size: 30px;
      color: #fff;
      font-weight: bold;
      &:hover {
        text-decoration: none;
      }
    }
    .click_target {
      height: 100%;
      width: 100%;
      display: block;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      .radiated-border(7px);
    }
  }
}
