@import "mixins.css.less";
@import "variables.css.less";
.sidebar-nav {
  .radihey-well();
  .nav {
    li {
      a {
        color: @font_color_link;
        &:hover {
          color: @font_color_in_negative_bg;
          background-color: @selected_nav_bg_color;
          font-weight: bold;
          text-shadow: none;
        }
      }
    }
  }
}
