@import 'mixins.css.less';
.content {
  max-width: 754px;
  margin: 0 auto;
  .clearfix();
  .span4.sidebar_wrap {
    float: left;
    margin: 0 16px 0 0;
  }
  .span8.main_wrap {
    float: right;
  }
  .main {
    border-left: 1px solid @border_color;
    padding-left: 15px;
    h1 {
      margin-top: 0;
      text-shadow: 1px 1px 1px #fff;
    }
  }
  margin-bottom: 40px;
}

/* タブレット端末用のレイアウト */
@media (max-width: @viewport_tablet_max) {
  .content {
    .main {
      border: none;
      padding: 0;
    }
  }
}
@media (max-width: @viewport_mobile_max) {
  .content {
    max-width: 474px;
  }
}
